name: Fix
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Find and Replace
        uses: jacobtomlinson/gha-find-replace@master
        with:
          find: "tatti"
          replace: "ʄʀɨɖǟʏ"
      - name: Create Pull Request
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'Auto Fixes'
          commit_options: '--no-verify'
          repository: .
          commit_user_name: ProgrammingError
          commit_user_email: iam.pro2@outlook.com
          commit_author: ProgrammingError <iam.pro2@outlook.com>
